<section class="section-4">
  <div class="blob-2">
    <img src="./assets/blob-2.svg" alt="">
  </div>
  <div class="works-contenedor">
    <img class="works-title" src="./assets/works-title.svg" alt="">
    <div class="snippets--works">
      <!-- tooltip progress -->
      <div class="item-work">
        <div class="info-item">
          <img class="icono-work" src="./assets/works/iconos/wordpress-icon.svg" alt="">
          <h4>Video Base Experience</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s.
            <span>2016 -2017</span>
          </p>
        </div>
        <img src="./assets/works/video-base.jpg" alt="">
        <div class="img-bg gradientGuard"></div>
      </div>
    </div>
  </div>
</section>
