<button class="hamburger hamburger--spin-r" type="button" aria-label="Menu" aria-controls="navigation">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
<section id="menu" class="about-me">
  <div class="perfil-contenedor">
    <div class="contenedor--info">
      <h2><span>Hi,</span> My name is Camilo Tabares</h2>
      <p>
        I'm a UX/UI designer, 
        constantly falling for Javascript scripting code, 
        quantum realities, 
        super powers and all kinds of concepts Marvel's comic histories has given me along time.
        <br>
        I live in Medellin Colombia, but one of my main goals is to travel all over the world
        <br>
        I´m always open to share a delicious cup of Colombian coffee
        <br>
        and talk about new exciting programming projects.
        You can contact me directly by mail - camilo.tabares.84@gmail.com
      </p>
      <a href="https://firebasestorage.googleapis.com/v0/b/datamockup.appspot.com/o/files_240484%2Fcamilo-tabares-hv-actualizada.pdf?alt=media&token=bcd9369f-d0cf-4368-8347-dc07b07ae985" target="_blank">Resume</a>
      <a href="mailto:camilo.tabares.portafolio@gmail.com">Click to email</a>
      <a href="https://wa.me/573013802590?text=Hola me gustaria conocer un poco mas de tu trabajo" target="_blank">Whatsapp</a>
    </div>
    <div class="contenedor--imagen">
      <div class="item-work" >
        <div class="item-work-wrapper">
          <div class="info-item">
          </div>
          <img src="./assets/foto-perfil-camilo-tabares.jpg" alt="">
          <div class="img-bg gradientGuard"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="blob-menu">
    <img src="./assets/menu-blob.svg" alt="">
  </div>
  <div class="bg-menu"></div>
</section>
