<button class="hamburger hamburger--spin-r" type="button" aria-label="Menu" aria-controls="navigation">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
<section class="about-me">
  <div class="perfil-contenedor">
    <div class="contenedor--info">
      <h2><span>Hi,</span> My name is Camilo Tabares</h2>
      <p>
        I'm a UX/UI designer, constantly falling for Javascript scripting code, quantum realities, super powers and all kinds of
        concepts Marvel's comic histories has given to us along time.
        <br>
        I live in Medellin, but one of my main goals is travel all over the world,
        <br>
        if you want to contact me, i´m always open to share a delicious cup of
        <br>
        colombian coffee...
        Anyway here you can find my c.v. or you can contact me directly by mail - camilo.tabares.84@gmail.com
      </p>
      <a href="mailto:email@address.com">Resume</a>
      <a href="mailto:email@address.com">Click to email</a>
    </div>
    <div class="contenedor--imagen">
      <div class="item-work" >
        <div class="item-work-wrapper">
          <div class="info-item">
          </div>
          <img src="./assets/foto-perfil.jpg" alt="">
          <div class="img-bg gradientGuard"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="blob-menu">
    <img src="./assets/menu-blob.svg" alt="">
  </div>
  <div class="bg-menu"></div>
</section>
