<section id="perfilDesc" class="section-1">
  <div class="perfil-contenedor">
    <div class="contenedor--info hide-animate">
      <h1>As a FrontEnd Developer,</h1>
      <p>
        <b>I enjoy building web sites that are functional</b>, user friendly and that also satisfy customers needs. My working
        experience includes the use of several I.T. technologies and scripting languages.
      </p>
    </div>
    <div class="contenedor--imagen animacion">
        <img src="./assets/perfil-icono.svg" alt="">
    </div>
  </div>
  <img src="./assets/perfil-bg.svg" alt="" class="perfil-bg desktop">
  <img src="./assets/perfil-bg-movil.svg" alt="" class="perfil-bg movil">
</section>
<section id="perfilComplem" class="section-2">
  <div class="perfil-contenedor desc">
    <div class="contenedor--info invertido hide-animate">
      <h2>Also...</h2>
      <p>
        I have a bachelor degree in Graphic Communication but from the begining I oriented my career
        <br/>
        and my university projects around digital strategies based on programs like Flash and Dreamweaver.
        <br />
        During my early years as a professional
        <br />
        I found myself immersed in the use of ActionScript and that was my first programming experience. Soon
        after, my knowlege expanded in the use of languages like Javascript(JQUERY - ANGULAR), PHP, HTML and CSS(SASS).
      </p>
    </div>
    <div class="contenedor--imagen animacion invertido">
      <img src="./assets/perfil-idea.svg" alt="">
    </div>
  </div>
  <img src="./assets/perfil-bg-desc.svg" alt="" class="perfil-bg-desc desktop">
  <!-- <img src="./assets/perfil-bg-desc.svg" alt="" class="perfil-bg-desc movil"> -->
</section>

